{% extends 'base-back.html.twig' %}

{% block title %}Add Casting to movie {{ movie.title }}{% endblock %}

{% block body %}
<h1>Ajouter un casting au film {{ movie.title }}</h1>

{# todo détailler l'affichage du formulaire #}
{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
<button class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}
{% endblock %}
