<!doctype html>
<html lang="fr">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<!-- Bootstrap icons -->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<!-- Our custom CSS -->
		<link
		rel="stylesheet" href="{{ asset('css/yflix.css')}}">
		<!-- favicon -->
		<link rel="shortcut icon" href="{{ asset('favicon.png')}}" type="image/x-icon">

		<title>
			{% block title %}Back Y'flix
			{% endblock %}
		</title>
	</head>

	<body>
		{% include 'nav/nav-back.html.twig' %}
		<div class="container bg-lighttt pt-5">
			<div class="row mb-2">
				<div class="col">

					{# read and display all flash messages #}
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }}" role="alert">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}

					{% block body %}{% endblock %}
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	</body>

</html>
