{% extends "base.html.twig" %}
{% block title %} - Accueil {% endblock %}
{% block body %}
	<div class="my-5 py-5 text-center">
		<img src="favicon.png" height="100" alt="Logo Y'flix" class="mb-3">
		<h1 class="display-6 fw-bold">Films, séries TV et popcorn en illimité.</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4 text-muted">Où que vous soyez. Gratuit pour toujours.</p>
		</div>
	</div>
	<div class="container-xl bg-light p-5 border-top">
		<div class="row mb-2">

			{% include('front/partials/genres.html.twig') %}

			<div class="col-12 col-lg-9">
				<h2 class="text-muted fw-bold mb-4">Les nouveautés</h2>

				{{ include('front/partials/movie_list.html.twig') }}

			</div>
		</div>
	</div>
{% endblock %}