{% extends 'base-back.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur le backoffice de Y'flix</h1>
    <!-- todo ajouter la liste des 5 derniers films ajoutés -->
    <!-- todo ajouter la liste des 5 derniers acteurs ajoutés -->
{% endblock %}
